body {
	font-family: monospace;
	background: #111;
	color: #eee;
	padding: 20px;
}

.log-entry {
	margin-bottom: 10px;
}

.INFO {
	color: lightgreen;
}

.WARNING {
	color: gold;
}

.ERROR {
	color: salmon;
}

.DEBUG {
	color: lightblue;
}

.TIMESTAMP {
	color: gray;
	margin-right: 10px;
}